parameters:
	tempDir: temp/phpstan-cache
	level: max

	paths:
		- app
		- libs
		- www

	autoload_files:
		- vendor/autoload.php

	ignoreErrors:
		- '~Access to an undefined property Nette\\Database\\Table\\ActiveRow::\$[a-zA-Z0-9_]+\.~'
		- '~Access to an undefined property Nette\\Application\\UI\\ITemplate::\$[a-zA-Z0-9_]+\.~'
		- '~Access to an undefined property Nette\\Security\\Identity::\$[a-zA-Z0-9_]+\.~'
