{default $title = 'TODO list definition'}

{block content}

<h4 class="mb-3">Global TODO list definition</h4>

<hr class="mb-3">

{control addTodoListGlobalItem}

<hr class="mb-3">

{control todoListDefinition}
