<div class="row">
	<div class="col">
		{form addForm}
			<div class="input-group mb-5">
				{input name class => 'form-control'}
				<div class="input-group-append">
					{input assign class => 'btn btn-outline-success'}
				</div>
			</div>
		{/form}
	</div>
</div>
