<div class="row">
	<div class="col">
		{form addForm}
			<div class="input-group">
				{input name class => 'form-control'}
				<div class="input-group-append">
					{input add class => 'btn btn-outline-success'}
				</div>
			</div>
		{/form}
	</div>
</div>
