{default $title = 'Page has not been found'}

{block content}

<div class="card card-body box-shadow">
	<div class="row">
		<div class="col-md-12">
			<h1>Page has not been found</h1>
			<p>We are sorry, this page is not available.</p>
			<p>Please continue here <a href="{$domainUrl}">{$domainUrl}</a>.</p>
			<p>error code: {$code}</p>
		</div>
	</div>
</div>
