<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" href="{plink :Core:Homepage:default}">
		<img src="/img/logo.png" alt="logo" width="70">
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
			aria-controls="navbarCollapse" aria-expanded="false" aria-label="Expand navbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">
			{if $user->isLoggedIn()}
				<li n:class="nav-item, $presenter->isLinkCurrent(':TodoList:TodoList:list') ? active">
					<a class="nav-link" href="{plink :TodoList:TodoList:list}">Assigned students</a>
				</li>

				{if $user->isInRole(\App\UserModule\Model\UserService::ROLE_ADMIN)}
					<li n:class="nav-item, $presenter->isLinkCurrent(':TodoList:TodoList:definition') ? active">
						<a class="nav-link" href="{plink :TodoList:TodoList:definition}">TODO list definition</a>
					</li>

					<li n:class="nav-item, $presenter->isLinkCurrent(':User:User:list') ? active">
						<a class="nav-link" href="{plink :User:User:list}">Users</a>
					</li>
				{/if}
			{else}
				<li n:class="nav-item, $presenter->isLinkCurrent(':User:Registration:default') ? active">
					<a class="nav-link" href="{plink :User:Registration:default}">Registration</a>
				</li>
			{/if}
		</ul>

		<ul class="navbar-nav float-lg-right">
			{if $user->isLoggedIn()}
				<li class="nav-item">
					<a class="nav-link" href="{plink logout!}">
						Log out <i class="fas fa-sign-out-alt"></i>
					</a>
				</li>
			{else}
				<li n:class="nav-item, $presenter->isLinkCurrent(':User:Sign:login') ? active">
					<a class="nav-link" href="{plink :User:Sign:login}">
						Log in <i class="fas fa-sign-in-alt"></i>
					</a>
				</li>
			{/if}
		</ul>
	</div>
</nav>
