<div class="row">
	<div class="col-md-6 mb-1">
		{form editForm}
			<div class="input-group">
				{input name class => 'form-control'}
				<div class="input-group-append">
					{input edit class => 'btn btn-outline-primary'}
				</div>
			</div>
		{/form}
	</div>

	<div class="col-md-6">
		<a n:href="delete! $todoList->id" class="btn btn-danger text-light">
			<i class="fas fa-trash-alt"></i> Delete TODO list
		</a>
	</div>
</div>
